//COLORS
$background: #dcdcdc;
$canvas: #ffffff;
$text: #444444;
$link: #666666;
$hover: #333333;
$silent: #999999;

//STYLES
$border: 1px solid $text;

//BREAKPOINTS
$large: 1100px;
$medium: 768px;
$small: 500px;
